<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Acesso negado :/</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
    
   <body>
    
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
       
      <div class="page-title">Acesso Negado!</div>
      <h3 style="color:red;">Ops, Parece que você não tem acesso a esta página...</h3>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>