<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Template Code - Transparent Payment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/index.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://sdk.mercadopago.com/js/v2"></script>
</head>
<body>
<div><span id="totalAmount">190.00</span></div>
<form method="post" th:object="${checkouForm}" id="form-checkout">
  <input type="text"  name="cardNumber" id="form-checkout__cardNumber" />
  <input type="text" name="cardExpirationMonth" id="form-checkout__cardExpirationMonth" />
  <input type="text" name="cardExpirationYear" id="form-checkout__cardExpirationYear" />
  <input type="text" name="cardholderName" id="form-checkout__cardholderName"/>
  <input type="text"  name="cardholderEmail" id="form-checkout__cardholderEmail"/>
  <input type="text" name="securityCode" id="form-checkout__securityCode" />
  <select name="issuer" id="form-checkout__issuer"></select>
  <select name="identificationType" id="form-checkout__identificationType"></select>
  <input type="text" name="identificationNumber" id="form-checkout__identificationNumber"/>
  <select name="installments" id="form-checkout__installments"></select>
  <button type="submit" id="form-checkout__submit">Pagar</button>
  <progress value="0" class="progress-bar">Carregando...</progress>
</form>
<th:block th:include="/_mercadoPago"></th:block>
</body>
</html>