<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/carousel/">

    <title>Pulse Game Store</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/carousel.css}">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/styles.css" th:href="@{/assets/css/styles.css}"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body style="background: #000000; color: white;">


<th:block th:include="/_menu"></th:block>

<div class="wrapper">


    <div class="container" style="padding-top: 10%;">
        <div>
            <h1>
                Lista de Produtos
            </h1>
        </div>
        <hr/>
        <div class="row g-1">
            <div class="col-md-3" th:each="prodInfo : ${paginationProducts.list}">
                <div class="card p-3" >
                    <div class="text-center"><img th:src="@{|/productImage?code=${prodInfo.code}|}" width="200" height="200" style="border-radius: 10px;"></div>
                    <div class="product-details"><span  style="color: #0f0f0f;"  class="font-weight-bold d-block" th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span>
                        <span th:utext="${prodInfo.name}" style="color: #0f0f0f;"></span>
                        <div class="buttons d-flex flex-row">
                            <div class="cart"><i style="color: #5cb85c" class="fa fa-shopping-cart"></i></div>
                            <a th:href="@{|/buyProduct?code=${prodInfo.code}|}">
                                <button class="btn btn-success cart-button btn-block" ><span class="dot">+</span>Adc. no Carrinho
                                </button>
                            </a>

                        </div>
                        <div class="weight"><small></small></div>
                    </div>
                </div>
                <br/>
            </div>

        </div>
    </div>
</div>


<script>window.jQuery || document.write('<script  th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"><\/script>')</script>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<script>$('.carousel').carousel()</script>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {


        const cartButtons = document.querySelectorAll('.cart-button');

        cartButtons.forEach(button => {

            button.addEventListener('click',cartClick);

        });

        function cartClick(){
            let button =this;
            button.classList.add('clicked');
        }



    });
</script>
</body>
</html>
