<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/carousel/">

    <title>Pulse Game Store</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/carousel.css}">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/styles.css" th:href="@{/assets/css/styles.css}"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body style="background: #000000;">


<th:block th:include="/_menu"></th:block>

<div class="wrapper" >
    <div class="jumbotron text-center">
        <h1 class="display-3">OBRIGADO PELO PEDIDO!</h1>
        <p class="lead"><strong>Por favor check seu email</strong> te atualizaremos sobre seu pedido por lá ;)</p>
        <hr>
        <h4>O SEU PEDIDO FOI CONFIRMADO.</h4>
            <h5>
                Seu CÓDIGO DE RASTREIO É: PSSTORBR-<span th:utext="${lastOrderedCart.orderNum}"></span><strong></strong>
            </h5>

        <p class="lead">
            <a class="btn btn-dark btn-sm" th:href="@{/}" role="button">Volte para a Loja</a>
        </p>
    </div>
</div>


<script>window.jQuery || document.write('<script  th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"><\/script>')</script>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
<script>$('.carousel').carousel()</script>

</body>
</html>
