<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Finalização do pedido</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Finalizar</div>
<div class="container">
<h3>Muito obrigado por seu pedido</h3>
Código do seu produto é: <span th:utext="${lastOrderedCart.orderNum}"></span>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>