<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informaçoes do Comprador</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Insira Os dados do comprador</div>

<form method="POST" th:object="${customerForm}" th:action="@{/shoppingCartCustomer}">

    <table>
        <tr>
            <td>Nome *</td>
            <td><input th:field="*{name}"/></td>
            <td>
<span class="error-message"
      th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
            </td>
        </tr>
        <tr>
            <td>email *</td>
            <td><input th:field="*{email}"/></td>
            <td>
<span class="error-message"
      th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
            </td>
        </tr>
        <tr>
            <td>Telefone *</td>
            <td><input th:field="*{phone}"/></td>
            <td>
<span class="error-message"
      th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">..</span>
            </td>
        </tr>
        <tr>
            <td>Endereço *</td>
            <td><input th:field="*{address}"/></td>
            <td>
<span class="error-message"
      th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Submit"/> <input type="reset"
                                                             value="Reset"/></td>
        </tr>
    </table>

</form>


<th:block th:include="/_footer"></th:block>
</body>
</html>